.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
    
.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
.animated-icon1 span {
    background: white;
}
    
.animated-icon1 span:nth-child(1) {
    top: 0px;
}
    
.animated-icon1 span:nth-child(2) {
    top: 10px;
}
    
.animated-icon1 span:nth-child(3) {
    top: 20px;
}
    
.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
    
.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
    
.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.imgS:hover{
    background-color: #dddddd;		
    border-radius: 150px;
}

row, div{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}
  
body{
    background-color: aqua!important;
}

.table-container {
    overflow-y: auto;
    overflow-x: overlay;
    background-color: rgb(44, 134, 224);
    width: 100%;
}

table {
    width: 100%;
    border-spacing: 0;
} 

thead {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
    
th, td {
    margin: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-right: 0;
}

th {
    position: sticky;
    top: 0px;
    border: 1px solid black;
    background-image: radial-gradient(rgb(124, 172, 228),rgb(132, 171, 216));
    padding: 7px;
}

td {
    border: 1px solid black;
    color: white;
    font-size: large;
    font:caption;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(27, 190, 255, 0);
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(27, 190, 255, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(27, 190, 255, 0.6);
}

::-webkit-scrollbar-track-piece {
    width: 2px;
}

.effect:hover{
    background-color: rgb(27, 190, 255);
    cursor: pointer;
}

.Lez {
    display: none;
}

.Max{
    display: none;
}

.Min{
    display: none;
}

@media screen and (min-width: 400px) {
    .Lez {
      display: table-cell;
    }
}

@media screen and (min-width: 350px) {
    .Max {
      display: table-cell;
    }

    .Min{
        display: table-cell;
    }
}

.bg-footer{
    background-color: #0693E3;  
    width: 100%;
}

.Header_Style{
    background-color: rgb(0, 69, 197);
    display: flex;
    align-items: center;
    text-align: center;
}

.bg{
    background-color: rgb(54, 131, 194);
}

.bet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoHidden{
    visibility: hidden;
}

.decoVisible{
    visibility: visible;
}

.mt{
    border-top: 1px solid rgb(78, 138, 230);
}

.Tit{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: radial-gradient(rgb(124, 172, 228),rgb(132, 171, 216));
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.bottom-Bord{
    border-bottom: 1px solid black;
}

.SubTit{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(44, 134, 224);
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.cambioHeightOn{
    height: 500px;
}

.color1{
    background-color: #0693e3;
}

.h0{
    font-size: 40.8px;
    line-height: 62.8px;
    margin: 0;
    font-weight: 600;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.p{
    padding: 15px 0px 15px 0px!important;
}

.MediaTot{
    border: 3px dotted black;
    height: 150px;
    width: 200px;
    background-color: rgb(0, 69, 197);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 62.8px;
    margin: 0;
    font-weight: 600;
}

.MediaTot:hover{
    cursor: pointer;
}

.or{
    border-bottom: 4px dotted black;

}

.mp{
    margin-top: -250px!important;
}

.color1{
    background-color: rgb(0, 69, 197);
}
  
.fin{
    border-radius: 15px;
    border: 2px dotted black;
    background-color: rgb(44, 134, 224);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;

}

.stile-fine{
    padding: 10px;
}